@import url(basic.css);

/* ------- MAIN ------ */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--space-md);
  padding: var(--space-xxl) 0;
  background-image: linear-gradient(
      to bottom,
      rgba(6, 24, 42, 0) 5%,
      rgba(6, 24, 42, 1) 90%
    ),
    url("./background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: var(--border-radius);

  h1 {
    margin-bottom: var(--space-md);
    font-size: 3rem;
  }

  p {
    margin-bottom: var(--space-lg);
  }

  form {
    display: flex;
    justify-content: center;
    background-color: var(--input-bg);
    max-width: 600px;
    width: 100%;
    padding: var(--space-sm) var(--space-md);
    border-radius: var(--border-radius);

    label {
      display: flex;
      flex: 1;
      align-items: center;
    }
    input {
      flex: 1;
      background: transparent;
      margin-left: var(--space-md);
      border: none;
      outline: none;
      color: var(--text-primary);
      height: 100%;
    }
    button {
      padding: 0.75rem var(--space-md);
      border-radius: var(--border-radius);
      background-color: var(--primary);
      color: white;
      font-weight: 400;
      border: none;
      cursor: pointer;
      transition: all 0.2s;
      font-family: inherit;
      font-size: var(--text-size-m);
      white-space: nowrap;

      &:hover,
      &:focus {
        background-color: var(--primary-hover);
        outline: 2px solid white;
        outline-offset: 2px;
      }

      &:active {
        transform: scale(0.9);
      }

      &:disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }
}

.hero-card-section {
  display: flex;
  flex-direction: column;

  p {
    text-align: center;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin-bottom: var(--space-md);
    }
  }

  .hero-card-section__cards {
    margin: var(--space-lg) 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--space-md);

    article {
      min-width: 260px;
      max-width: 320px;
      padding: var(--space-lg);
      background-color: var(--card-bg);
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: var(--border-radius);

      svg {
        color: var(--primary-light);
        background: rgba(0, 153, 255, 0.3);
        width: 64px;
        height: 64px;
        border-radius: 100%;
        padding: 16px;
        margin-bottom: var(--space-sm);
      }
      h3 {
        margin-bottom: var(--space-sm);
      }
    }
  }
}
/* ------- FIN MAIN ------ */
